**/vendor/**/*
**/node_modules/**/*
**/js_test_files/**/*
../../www/core/**/*
../../www/sites/**/files/**/*
../../www/libraries/**/*
../../www/sites/**/libraries/**/*
../../www/profiles/**/libraries/**/*
