**/vendor/**/*
**/node_modules/**/*
**/js_test_files/**/*
../../app/core/**/*
../../app/sites/**/files/**/*
../../app/libraries/**/*
../../app/sites/**/libraries/**/*
../../app/profiles/**/libraries/**/*
